body, html {
    margin: 0px;
    padding: 0px;
}

.bs-container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    --bs-gutter-x: 0 !important;
}

.bs-header {

}

.bs-main {
    background: url("image/final.png");
    background-color: rgb(238, 245, 244);
    padding: 50px 0;
}

.bs-form {
    background: rgba(248, 251, 255, 1);
}

.bs-transaction {

}

.bs-footer {

}

.bs-form-input {
    margin-bottom: 20px;
}

.bs-form-input label, .bs-form-button label {
    margin-bottom: 14px;
    display: block;
    width: 100%;
}

.bs-form-button {
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    position: relative;
    right: 120px;
    font-size: 16px;
    height: 40px;
    width: 110px;
    border-radius: 8px;

}

.btn-1 span {
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.05em;

}

.btn-2 {
    border-radius: 8px;
    display: inline-block;
    font-family: Fira Sans;
    position: relative;
    right: 108px;
    height: 40px;
    width: 110px;
    background-color: #007AFF;
    color: white;
    border: none;

}

.btn-2 span {
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.05em;

}


.main-header {
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.main-header img {
    position: relative;
}

/* article */

article {
    width: 100%;
}

.article-text {
    position: relative;
    text-align: center;
    font-family: Fira Sans;

}

.article-text h1 span {
    color: #007AFF;
}

.article-text h1 {
    font-family: Fira Sans;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    font-size: 60px;
}

.article-text p {

    font-family: Fira Sans;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    opacity: 0.5;

}

.article-text p span {
    color: #007AFF;
}

.main-article {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.Rectangle {
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 42px;
    border-radius: 30px;
}

.girl-img {
    width: 50%;
}

.girl-img img {
    width: 100%;
    height: auto;
}

#Request-1000 {

    color: rgba(125, 146, 167, 1);
    position: relative;
    height: 55px;
    width: 210px;
    border-radius: 8px;
    text-align: center;
    border: none;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    margin-top: 9px;
    margin-bottom: 5px;
}

#Request-10000 {
    position: relative;
    height: 55px;
    width: 210px;
    border-radius: 8px;
    text-align: center;
    background-color: #007AFF;
    color: #FFFFFF;
    border: none;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
}

.form-contain {
    font-family: Fira Sans;
    font-weight: 700;
    font-size: 10px;

}

.form-contain label {
    font-family: Fira Sans;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.form-contain input, .form-contain select {

    height: 55px;
    width: 440px;
    border-radius: 8px;
    text-align: left;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    align-items: center;
    color: #7D92A7;
    border: none;
    background: rgba(247, 248, 250, 1);

}

.square {
    position: absolute;
    width: 19px;
    height: 19px;
    left: 214px;
    top: 991px;

    background: #CCD6E1;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
}

#Request-XDC {

    height: 55px;
    width: 222px;
    border-radius: 8px;
    text-align: center;
    background-color: #007AFF;
    margin-top: 20px;
    position: relative;
    border: none;
    color: white;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
}

/*  */

.transaction-table {
    position: relative;
    align-items: flex-start;
    Width: 100%;
    Height: 605px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

.head {
    background-color: #EDF5FF;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* radius:10px; */
}

tr:nth-child(even) {
    background-color: #EDF5FF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 14px;
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;

}

.header input {
    height: 41.6124153137207px;
    width: 169.16351318359375px;
    border-radius: 10px;
    border: none;
    background-color: rgba(247, 248, 250, 1);

}

.txHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myflex {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;


}

.btn-primary {

    --bs-btn-color: rgba(29, 136, 254, 1);
    --bs-btn-bg: rgba(230, 239, 251, 1);
    --bs-btn-border-color: #0d6efd;
    border: none;
}

.blue {
    color: #FFFFFF;
    background-color: #0d6efd;
    --bs-btn-color: #fff;
    --bs-btn-bg: #bdc0c4;
    --bs-btn-border-color: #0d6efd;
    border: none;
    background-color: #0d6efd;
    --bs-btn-color: #fff;
    --bs-btn-bg: #e3e5e7;
    --bs-btn-border-color: #0d6efd;
    border: none;
    padding: 6px;
    border-radius: 8px;
    width: 58px;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

#in {
    background: rgba(184, 255, 204, 1);
    color: rgba(4, 222, 91, 1);;

}

.hash {
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(29, 136, 254, 1);

}

/* To-box for color */

#To-box {
    color: #007AFF;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}
.pagination {

    position: relative;
    background-color: #FFFFFF;
    border-radius: 8px;
    justify-content: center;
    width: 450px;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #007AFF;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.radius {
    background-color: #fff;
}

#myDIV {
    position: relative;
}

#myDIVm input {
    background-color: red;
}

#myDIV p {

    position: relative;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    display: inline-block;
}

#twitter {

    position: relative;
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
}

#myDIV label {
    position: relative;
}
